## Coding Style

DO NOT GENERATE CODE. PULL FROM EXAMPLES OR/AND DOCUMENTATION.
CODE GENERATION IS A LAST RESORT. DO IT ONLY BASED ON CODE
IN THE EXAMPLES OR/AND DOCUMENTATION (e.g.a different version).

- Use modern Java features like var, records, and switch expressions.
- Use multiline strings rather than concatenation.
- Use Mockito for tests.

WRONG: String s = "a";
RIGHT: var s = "a";